<header>
    <section id="mainHeader">
        <a href="https://www.linkedin.com/in/sutharmayur" id="logo" target="_blank">Torri</a>
        <label for="toggle-1" class="toggle-menu">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </label>
        <input type="checkbox" id="toggle-1">
        <nav>
            <ul>
                <li><a href="/auth/logout"><i class="icon-phone"></i>Logout</a></li>
            </ul>
        </nav>
    </section>
</header>