<div class="header">
    <div class="right">
        <!-- <img src="./img/chicago-5347435.jpg" alt=""> -->
    </div>
    <div class="left">
        <h2 id="title">Torri</h2>
        <p id="subtitle">enjoy konfirm unlimited naija tori for pidgin.....</p>
        <a href="/auth/google" id="btn">
            <i class="fa fa-google" aria-hidden="true">
                &nbsp
                <span style=" font-family: " Poppins",sans-serif;">LOGIN WITH GOOGLE</span>
            </i>
        </a>
    </div>
</div>